<!DOCTYPE html>
<html>
    <head>
        <title>Camps</title>
        <!--First bootstrap link then css file link -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/main.css">

        

    </head>
    <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!CurrentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% }else{ %>
                            <!--may be link to profile-->
                            <li><a href="#">Signed As <%= CurrentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
    </nav>

