<h1>login</h1>
<form action="/login" method="POST">
    <input name = "username" placeholder="enter ur name" type="text">
    <input name = "password" placeholder="enter ur password" type="text">
    <button>submit</button>
</form>